/*
    Especifidad 0 0 1
*/
section {
    padding: 1em;
}

/*
    Especifidad 0 0 1
*/
form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

/*
    Especifidad 0 0 1
*/
form {
    border: 0.0625em solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-left: 0.5em;
}

input, select {
    margin-left:1.5em;
}